body {
  margin: 0;
}

#container {
  text-align: center;
}

#doge {
  height: 100px;
  margin: auto;
  display: block;
}

#nameForm {
  display: block;
  text-align: left;
}

ul {
  text-align: left;
}
