body {
  margin: 0;
}

#container {
  text-align: center;
}

h1 {
  color: green;
  background-color: #000fff;
  font-size: 100px;
  margin-top: 0px;
  margin-bottom: 10px;
}

#dogContainer {
  display:inline-block;
  max-height: 200px;
  color: red;
  background-color: rgb(25,125,185);
  padding: 15px;
  box-sizing: border-box;
  border: 10px solid red;
}

img {
  height: 100px;
  margin: auto;
  display: block;
}

#nameForm {
  display: block;
}

.form-control {
  margin-top: 5px;
  display: block;
  width: 100%;
}

ul {
  text-align: left;
}
